SpotifyVsTheWorld.xcodeproj/xcuserdata/
SpotifyVsTheWorld.xcodeproj/project.xcworkspace/xcuserdata/
@xcworkspace/xcuserdata/@
Pods
Carthage

xcuserdata
.history
SpotifyVsTheWorld.xcodeproj/xcshareddata/xcschemes/SpotifyVsTheWorld.xcscheme
